@font-face {
  font-family: MyUnderwood-KOVy;
  src: url('/assets/fonts/type/MyUnderwood-KOVy.woff') format("woff");
}

@font-face {
  font-family: TypeKeys;
  src: url('/assets/fonts/keys/TypeKeysFilled.woff') format("woff");
}

input {
  border: none;
  padding: 5px;
  font-size: 16px;
}

#main-container {
  display: flex;
  justify-content: center;

}

.row {
  display: flex;
}


#error-bar {
  color: red;
  text-transform: uppercase;
  padding-top: 0;
  height: 60%;
  padding-left: 1rem;

}


.paper {
  background: #fafafa;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 300px 25px rgba(222, 198, 122, 1) inset; */
    width: 250px;
    margin: 1.5% 50% auto;
    display: flex;
    margin-left: auto;
    position: relative;
    flex-flow: column;
    border-style: solid;
    border: inset;
    border-radius: 1em;
    
}

#display {
  font-family: MyUnderwood-KOVy, serif;
  height: 7rem;
}


.btn {
  font-size: 4em;
  order: 0;
  font-family: TypeKeys, serif;
}

#keypad {
  display: flex;
  flex-flow: column;
  height: 1vh;
  align-items: center;
  margin-top: 1.2rem;
}


#calculation {
  padding: 1em 1em 1px 1em;
  height: 10%;

  /* overflow: auto; */
}


#status-bar {
  padding: 0 1em 1px 1em;
  font-size: .75em;
   height: 10%;
   
}

#divider {
  line-height: 0.75em;
  
}

#content-container {
  background-image: linear-gradient(to right top, #4c4e51, #6d7275, #919998, #bac1bc, #e7e9e2);
  height: 82vh;
  padding: 0.5em;
  border-radius: 1em;
}

.button-up {
  animation-name: pressKey;
  animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -webkit-animation-duration: 4s ;
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
}

.button-down {
  animation-name: pressKey;
  animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -webkit-animation-duration: 4s ;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

@keyframes pressKey {
  0%{transform:scale(1);}
  20%{transform:scale(.99);}
  40%{transform:scale(.97);}
  60%{transform:scale(.95);}
  80%{transform:scale(.93);}
  100%{transform:scale(.91);}
}


.border {
  border: inset;
  border-radius: 5em;
  height: 3.31rem;;
}

/* Test */


.key-base {
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 9em;
}



.top-highlight {
  position: relative;
  border-bottom: none;
  border-right: none;
  border-left: none;
  transform: rotate(-51deg);
  background: transparent;
  top: .6em;
  right: -.8em;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: .5em;
  width: 94%;
  height: 95%;
}



.key-container {
  height: 300px;
  width: 300px;
  display: flex;
}



.bottom-highlight {
  position: relative;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-right: none;
  border-top: none;
  border-left: none;
  transform: rotate(9deg);
  background: rgb(8,8,8);
  border-bottom-width: .4em;
  top: .4em;
  left: 1em;
  width: 90%;
  height: 90%;

}


.middle-highlight {
  position: relative;
  width: 90%;
  height: 90%;
  transform: rotate(47deg);
  background-color: transparent;
  border-top: none;
  border-left: none;
  
  top: .85em;
  left: .6em;
  border-right-width: .25em;
  border-bottom-width: .25em;

  border-right-color: white;
  border-right-style: solid;
  border-bottom-color: white;
  border-bottom-style: solid;
}


.letter {
  color: white;
  transform: rotateZ(355deg);
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



  
  
